form {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
  margin: 5px;
  padding: 7px;
}
input,
label,
.btn-add {
  margin-left: 7px;
  margin-right: 7px;
}
input,
label {
  display: block;
  margin-bottom: 11px;
  width: 333px;
}
input,
.btn-add {
  padding: 11px;
}
.btn-add {
  width: 25%;
  float: inline-end;
}
.container-list {
  width: 100%;
  padding: 11px;
  margin: 3px auto;
  align-items: center;
  justify-content: center;
  display: block;
  overflow: auto;
}

@media all and (max-width: 650px) {
  input,
  label,
  button {
    width: 100%;
    float: inline-start;
  }
}
