textarea {
  resize: vertical;
  width: 100%;
  padding: 11px;
  margin-left: auto;
  margin-right: auto;
}
.start-btn {
  display: block;
  padding: 21px;
  margin: 7px;
  min-width: max-content;
  text-align: center;
  width: 333px;
  align-self: center;
}
.election-status {
  padding: 11px;
  margin: 7px;
  width: 100%;
  border: 1px solid tomato;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 0.5em;
  overflow: auto;
  align-items: center;
  justify-content: space-around;
  display: flex;
}
