.form {
  width: fit-content;
  margin: 5px;
  padding: 7px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
}
input,
label,
.btn-add {
  margin-left: 7px;
  margin-right: 7px;
}
input,
label {
  display: block;
  margin-bottom: 11px;
  width: 333px;
}
input,
.btn-add {
  padding: 11px;
}
.btn-add {
  width: 25%;
  float: inline-end;
}

@media all and (max-width: 400px) {
  input,
  label,
  .btn-add {
    width: 100%;
  }
  .btn-add {
    float: inline-start;
  }
}
