nav {
  display: flex;
  justify-content: space-around;
  height: 11vh;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: tomato;
  padding: 10px;
  position: sticky;
  top: 0;
}
nav .logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
nav .logo:hover {
  cursor: pointer;
}
nav .navbar-links {
  display: flex;
  justify-content: space-evenly;
  width: 34%;
  text-transform: uppercase;
  color: white;
}
nav .navbar-links a {
  font-size: 16px;
  font-weight: normal;
}
nav .navbar-links a:hover {
  cursor: pointer;
  color: black;
}
nav .burger-menu {
  font-size: 24px;
  color: white;
  display: none;
  cursor: pointer;
}
nav .burger-menu:hover {
  cursor: pointer;
}
@media all and (max-width: 1300px) {
  nav .burger-menu {
    display: block;
  }
  nav .navbar-links {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    height: 100%;
    width: 184px;
    padding: 0px;
    transform: translate(-700px);
    transition: ease-in-out 0.25s;
  }
  nav .navbar-links li {
    background-color: tomato;
    padding: 14px;
    border-top: 1px solid white;
  }
  nav .navbar-links li:first-of-type {
    border-top: 0px solid white;
  }
  nav .navbar-links a:hover {
    border-bottom: 0px;
    cursor: pointer;
  }
}
