* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  text-align: center;
  margin: 10px;
}